<h1>Previous submissions</h1>

<%= link_to 'New link', new_link_path %>
<table>
	<tr>
		<th>Entry</th>
		<th>Destination</th>
	</tr>

	<% @links.each do |link| %>
	<tr>
		<td><%= link.title %></td>
		<td><%= link.text %></td>
		<td><%= link_to 'Show', link_path(link) %></td>
		<td><%= link_to 'Edit', edit_link_path(link) %></td>
		<td><%= link_to 'Delete', link_path(link),
				method: :delete,
				data: { confirm: 'Are you sure' } %></td>
	</tr>
	<% end %>
</table>
