<div class="panel panel-default">
  <div class="panel-heading text-center">
		<h3 class="panel-title">
			Entry: <%= @link.entry %>
		</h3>
	</div>
	<div class="panel-body">
		<p>
			<strong>Destination Link:</strong>
			<%= @link.destination %>
		</p>
		<p>
			<%= form_tag("/send_sms", method: "post") do %>
				<%= hidden_field_tag 'link_id', @link.id %>
			  <%= label_tag(:number, "Enter your 11-digit number with country code and no spaces or dashes") %>
			  <%= text_field_tag(:number) %>
			  <%= submit_tag("Send SMS", :class => "btn btn-danger") %>
			<% end %>
			<% if flash[:notice] %>
        <h4><mark><%= flash[:notice] %></mark></h4>
		  <% end %>
		</p>
    <p>
      <%= link_to 'Back', links_path, class: "btn btn-default" %>
		  <%= link_to 'Edit', edit_link_path(@link), class: "btn btn-default" %>
      <%= link_to 'Delete', link_path(@link),
				method: :delete,
				data: { confirm: 'Are you sure' },
				class: "btn btn-default" %>
    </p>
	</div>
</div>
