<p>
	<strong>Entry:</strong>
	<%= @link.entry %>
</p>

<p>
	<strong>Destination Link:</strong>
	<%= @link.destination %>
</p>

<p>
	<strong>Send this link to your phone!</strong>
	<%= form_tag("/send_sms", method: "post") do %>
		<%= hidden_field_tag 'link_id', @link.id %>
	  <%= label_tag(:number, "Enter your number") %>
	  <%= text_field_tag(:number) %>
	  <%= submit_tag("Submit") %>
	<% end %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %>
<%= link_to 'Back', links_path %>
