<p>
	<strong>Entry:</strong>
	<%= @link.entry %>
</p>

<p>
	<strong>Destination Link:</strong>
	<%= @link.destination %>
</p>

<p>
	<strong>Send this link to your phone!</strong>

<%= form_for @article, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Create" %>
<% end %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %>
<%= link_to 'Back', links_path %>
